.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}