.body {
    background-color: black;
}

.page {
    max-width: 880px;
    min-height: 320px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0 auto;
    color: white;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}



.header {
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .header__logo {
        max-width: 320px;
        padding-top: 28px;
        padding-bottom: 28px;
    }
}


.header__logo {
    /*object-fit: cover;*/
    padding-top: 45px;
    padding-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .header__logo {
        padding-left: 27px;
        padding-top: 28px;
        padding-bottom: 28px;
        width: 103px;
        height: 24px;
    }
}

.profile {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 2fr 1fr;
    grid-template-rows: 1fr;
    margin: 41px auto 50px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 36px;
    }
}

/*.profile__user {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 37px;
}*/

.profile__avatar {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    /*object-fit: cover;*/
}

/*@media screen and (max-width: 768px) {
    .profile__avatar {
      align-self: center;
      justify-self: center;
    }
  }*/
.profile__info {
    max-width: 336px;
    margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 26px 0 36px;
    }
}

.profile__name {
    display: flex;
    align-items: center;
    gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__name {
        gap: 10px;
    }
}

.profile__username {
    max-width: 295px;
    overflow: hidden;
    line-height: 48px;
    font-weight: 500;
    font-size: 42px;
    color: white;
    font-style: normal;  
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__username {
        max-width: 235px;
        line-height: 33px;
        font-size: 27px;
        margin-left: 28px;
    }
}



.profile__description {
    max-width: 300px;
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 12px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__description {
        max-width: 240px;
        line-height: 17px;
        font-size: 14px;
        margin-top: 7px;
    }
}

.profile__edit-button {
    width: 24px;
    aspect-ratio: 1/1;
    border: 1px solid white;
    background-color: black;
    background-image: url("./images/Edit\ Button.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}


.profile__edit-button:hover {
    opacity: .8;
    cursor: pointer;
}

.profile__add-button {
    width: 150px;
    justify-self: end;
    aspect-ratio: 3/1;
    background-color: black;
    border: 2px solid white;
    border-radius: 2px;
    background-image: url("./images/Add\ Button.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
     margin: 0;
    padding: 0;
    
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
}


.profile__add-button:hover {
    cursor: pointer;
    opacity: .8;
}

.elements {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .elements {
        gap: 20px;

    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}


.cards__item {
    font-size: 0;
}



.cards__photo {
    border: none;
    width: 282px;
    aspect-ratio: 1/1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cards__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px 20px;

}

.cards__text {
    max-width: 197px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin: 0;
}

.cards__like-button {
    width: 22px;
    height: 19px;
    border: none;
    background: url("./images/like__disabled.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 22px 19px;
    padding: 0;
    transition: opacity 0.4s linear;

}

.cards__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.cards__like-button:active {
    background-image: url("./images/like__active.svg");
}


.card__like-button_active {
    background: url("./images/like__active.svg");
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .footer {
        padding-bottom: 0;
        padding-top: 48px;
    }
}

.footer__copyright {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: #545454;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
        padding-bottom: 36px;
    }
}

.popup {
    display: none;
}

.popup::before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.popup__container {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    min-width: 430px;
    min-height: 330px;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-left: calc(430px / -2);
    margin-top: calc(330px / -2);
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__container {
        min-height: 322px;
        min-width: 282px;
        margin-left: calc(282px / -2);
        margin-top: calc(322px / -2);
        margin: 0 auto;
    }
}

.popup__forms {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    gap: 30px;
    border: 0;
    outline: none;
    margin-left: 36px;
    margin: 0 auto;
    margin-top: 54px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__forms {
        max-width: 238px;
        line-height: 17px;
        margin-top: 75px;
        margin-left: 22px;
    }
}

.popup__title {
    max-width: 358px;
    text-align: start;
    color: black;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    padding-top: 34px;
    margin: 0 auto;
    margin-left: 36px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__title {
        line-height: 22px;
        font-size: 18px;
        margin-left: 22px;
    }
}

.popup__form {
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__save-button {
    min-width: 358px;
    min-height: 50px;
    background-color: black;
    color: white;
    line-height: 22px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-top: 48px
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__save-button {
        min-width: 238px;
        line-height: 17px;
        font-size: 14px;
        margin-top: 15px;
    }
}

.popup_opened {
    display: none;
}

.popup__close-button {
    background-color: white;
    border: 0;
    padding: 0;
}

.popup__close {
    position: absolute;
    cursor: pointer;
    z-index: 22;
    left: 435px;
    bottom: 335px;
}

.popup__close:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .popup__close {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 250px;
    }
}