.forms__title {
    font-weight: 900;
    color: black;
    margin: 0;
}

@media screen and (min-width: 320px) {
    .forms__title {
      font-size: 18px;
      line-height: 22px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .forms__title {
      font-size: 24px;
      line-height: 29px;
    }
  }