.forms__input{
    width: 100%;
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 30px;
    padding: 0 0 7px 0;
}

